<% content_for :title do %>
  <h3 class="has-text-weight-bold is-size-3">
    Food Log &ndash; <%= DateTime.now.to_fs(:nice_date) %></h3>
<% end %>
<div class="columns is-centered">
  <% @entries.each do |entry| %>
    <div class="column mt-6 is-one-quarter">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title"> <%= entry.meal_type %> | <%= entry.category.title if entry.category.present? %></p>
        </header>
        <div class="card-content">
          <div class="content">
            <p><span class="has-text-weight-bold"><%= entry.calories %></span> calories </p>
            <p><span class="has-text-weight-bold"><%= entry.proteins %></span> proteins </p>
            <p><span class="has-text-weight-bold"><%= entry.carbohydrates %></span> carbohydrates </p>
            <p><span class="has-text-weight-bold"><%= entry.fats %></span> fats </p>
            <p class="italic"> Logged <%= time_ago_in_words(entry.created_at) %> ago </p>
          </div>
        </div>
        <div class="card-footer is-centered">
          <%= link_to 'Show', entry, class: "card-footer-item" %>
          <%= link_to 'Edit', edit_entry_path(entry), class: "card-footer-item"  %>
          <%= link_to 'Destroy', entry, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "card-footer-item" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="columns is-centered mt-6">
  <%= link_to "View All Entries", archives_index_path, class: "button is-link is-centered" %>
</div>
