<% content_for :title do %>
  <%= @entry.meal_type %> &ndash; <%= DateTime.now.to_fs(:nice_date) %>
<% end %>
<div class="columns mt-6 is-centered">
  <div class="column is-one-third">
    <nav class="panel is-link">
      <p class="panel-heading">
        Meal Type:
        <%= @entry.meal_type %>
      </p>
      <div class="panel-block">
        Calories: <%= @entry.calories %>
      </div>
      <div class="panel-block">
        Proteins: <%= @entry.proteins %>
      </div>
      <div class="panel-block">
        Carbohydrates: <%= @entry.carbohydrates %>
      </div>
      <div class="panel-block">
        Fats: <%= @entry.fats %>
      </div>
    </nav>
    <div class="buttons">
      <div class="panel-block pl-0">
        <%= link_to "Edit", edit_entry_path(@entry), class: "button is-link" %>
        <%= button_to "Destroy", entry_path(@entry), method: :delete, class: "button is-link" %>
      </div>
    </div>
  </div>
</div>
